@mixin variable($property, $variable, $fallback) {
  #{$property}: $fallback;
  #{$property}: var($variable);
}

@function color($key) {
  @return map-get($colors, '#{ $key }');
}

$colors: (
  'transparent': transparent,
  'black': lighten(#292929, 2%)
);

:root {
  @each $color, $variableColor in $colors {
    --#{$color}: #{$variableColor};
  }
}

@each $color, $classColor in $colors {
  .text-#{$color} {
    color: #{$classColor};
  }

  .bg-#{$color} {
    background-color: #{$classColor};
  }
}
